# Python
__pycache__/
.DS_Store
.python-version
.ruff_cache/
.venv/
.vscode/
*.egg
*.egg-info
*.py[oc]
*.tar.bz2
*.tar.gz
*.whl
*.zip
build/
dist/
venv/
wheels/

# App 
archive/
reports/
/*.csv
/*.log
/*.json
/*.txt
/*.yaml
data